        <div class="column" id="left-prof-col">
            <div class="ui raised segment">
                <a class="ui ribbon label" id="ribbon-1">Overview</a>
                <span>{{username}}</span>
                <span>{{email}}</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nam modi vitae ipsam minima
                    exercitationem rerum ipsa aut maiores, architecto reiciendis, labore dolorem porro doloremque
                    inventore nemo? Quod cumque et consequuntur dolorem aliquam animi modi, quia fugiat dignissimos
                    neque inventore consequatur, laborum omnis cum nulla ex vero repellendus, magnam ab perferendis.
                    .</p>

                <a class="ui ribbon label" id="ribbon-2">Community</a> User Reviews
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit voluptatum error soluta praesentium
                    aperiam. Cumque reiciendis, placeat maiores iure, explicabo sint ratione quo maxime dolores quasi ea
                    ab fugit voluptatem, incidunt consequatur? Facilis recusandae voluptates aspernatur officiis maiores
                    similique laboriosam. Omnis quod odio mollitia vel quo facere quae quidem iusto aliquam, illum quia
                    sequi iure laboriosam laborum repudiandae, nesciunt veritatis accusantium pariatur corrupti
                    obcaecati veniam soluta, tempora qui. Velit enim aspernatur tempora animi quaerat unde ab magni
                    pariatur ut consequuntur, quas explicabo, libero ducimus dolor at? Officia iure quis nam deserunt
                    voluptate beatae, obcaecati a aliquid eius asperiores? Impedit, nobis!</p>
            </div>
        </div>