<div class="side active">
  <div class="ui card">
    <div class="image">
      <img src="https://i.imgur.com/H1nxniL.jpg" />
    </div>
    <div class="content left aligned">
      <div class="ui ribbon label left aligned" id="name-age">{{name}}, Age:
        {{age}}</div>
      <div class="meta">
        <a>Take me to Dog Products</a>
      </div>
      <div class="description">
        {{description}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2021
      </span>
    </div>
  </div>
</div>