<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
      integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>

    <!-- Nav Section -->
    <section class="nav-area">

      <div class="ui mini inverted menu" id="nav-bar">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Products
        </a>
        <div class="right menu">
          <a class="item">
            Profile
          </a>
          <div class="item">
            <div class="ui button" id="sign-up">Sign Up</div>
          </div>
          <div class="item">
            <div class="ui button" id="login">Login</div>
          </div>
        </div>
      </div>
    </section>

    <section class="divider"></section>

    <!-- Footer Section -->
    <section class="footer">
      <div class="ui left aligned grid">
        <div class="eight wide column"><a href="/home">Home</a>
          <ul class="socials">
            <li><a href="#"><i class="twitter icon"></i></a></li>
            <li><a href="#"><i class="facebook icon"></i></a></li>
            <li><a href="#"><i class="instagram icon"></i></a></li>
            <li><a href="#"><i class="amazon icon"></i></a></li>
            <li><a href="#"><i class="yelp icon"></i></a></li>
          </ul>
        </div>
        <div class="four wide column"><a href="/products">Products</a></div>
        <div class="four wide column"><a href="/profile">Profile</a></div>
      </div>
    </section>

  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
    integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/public/js/semantic.js"></script>
</html>