<section class="landing">
  <div class="content">
    <div class="center">
      <div class="fluid ui large buttons">
        <a href="/login" class="ui button" id="landing-button1">Pet Portal</a>
        <div class="or"></div>
        <a href="/products" class="ui button" id="landing-button2">View All Products</a>
      </div>
    </div>
  </div>
</section>