<div id="log-reg">
  <div class="ui placeholder segment">
    <div class="ui vertical divider">
      Or
    </div>
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
              <input
                type="text"
                id="username-input-login"
                placeholder="Username"
              />
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <input type="password" id="password-input-login" />
              <i class="lock icon"></i>
            </div>
          </div>
          <div id="login-form" class="ui blue submit button">Login</div>
        </div>
      </div>
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
              <input
                type="text"
                id="username-input-register"
                placeholder="Username"
              />
              <i class="User icon"></i>
            </div>
            <div class="field">
              <label>Email</label>
              <div class="ui left icon input">
                <input
                  type="text"
                  id="email-input-register"
                  placeholder="email@mail.com"
                />
                <i class="mail icon"></i>
              </div>
              <div class="field">
                <label>Password</label>
                <div class="ui left icon input">
                  <input
                    type="text"
                    id="password-input-register"
                    placeholder="New Password"
                  />
                  <i class="lock icon"></i>
                </div>
                <div class="ui toggle checkbox">
                  <input
                    type="checkbox"
                    id="haspets-input-register"
                    name="pet-check"
                  />
                  <label>Do you have a pet(s)</label>
                </div>
                <div class="middle aligned column">
                  <div class="ui big button" id="registeruser-form">
                    <i class="signup icon"></i>
                    Sign Up
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/registerUser.js"></script>
<script src="/js/userLogin.js"></script>