<div class="product-page">
<div class="ui two column grid">
  <div class="two wide column">
    <div class="ui vertical menu" id="filter-menu">
  <div class="item">
    <div class="header">Products sort by Price</div>
    <div class="menu">
       <a href="/products/sortbyPriceASC" class="item">Sort by price low to high</a>
       <a href="/products/sortbyPriceDESC" class="item">Sort by price high to low</a>
     
    </div>
  </div>
  <div class="item">
    <div class="header">CMS Solutions</div>
    <div class="menu">
      <a class="item">Rails</a>
      <a class="item">Python</a>
      <a class="item">PHP</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Hosting</div>
    <div class="menu">
      <a class="item active">Shared</a>
      <a class="item">Dedicated</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Support</div>
    <div class="menu">
      <a class="item">E-mail Support</a>
      <a class="item">FAQs</a>
   </div>
  </div>
</div>
  </div>
  <div class="fourteen wide column">
<div class="ui special cards" id="products">
  {{#each products as |product|}}
  {{> productsCard}}
  {{/each}}
</div>
</div>
</div>
</div>

  {{#each products as |product|}}
  {{> productsModal}}
  {{/each}}
