<div class="ui special cards" id="products">

  {{#each products as |product|}}
  {{> productsCard}}
  {{/each}}

</div>

{{!-- <div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Dog Starter Set 1
  </div>
  <div class="image content">
    <div class="ui huge image">
      <img
        src="./assets/images/pet-photos/pet-accessories/ball-near-dog-stuff.jpg"
      />
    </div>
    <div class="description">
      <div class="ui header">Purchase a combination of items for your dog.</div>
      <p>We've grabbed a number of helpful items every dog owner should have to
        accompany their furry companion.</p>
      <ul>
        <li>Harness</li>
        <li>Shedding Comb</li>
        <li>Collar</li>
        <li>Ball</li>
        <li>Brush</li>
      </ul>
    </div>
  </div>
  <div class="extra content" id="modal-price">
    <a>
      <i class="dollar sign icon"></i>
      25.99
    </a>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Go Back
    </div>
    <div class="ui right labeled icon button">
      Add To Cart
      <i class="checkmark icon"></i>
    </div>
  </div>
</div> --}}
