<div class="ui two column grid" id="profile">

        <div class="column" id="left-prof-col">
            <div class="ui raised segment">
                <a class="ui ribbon label" id="ribbon-1">Overview</a>
                <span>Account Details</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nam modi vitae ipsam minima
                    exercitationem rerum ipsa aut maiores, architecto reiciendis, labore dolorem porro doloremque
                    inventore nemo? Quod cumque et consequuntur dolorem aliquam animi modi, quia fugiat dignissimos
                    neque inventore consequatur, laborum omnis cum nulla ex vero repellendus, magnam ab perferendis.
                    .</p>

                <a class="ui ribbon label" id="ribbon-2">Community</a> User Reviews
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit voluptatum error soluta praesentium
                    aperiam. Cumque reiciendis, placeat maiores iure, explicabo sint ratione quo maxime dolores quasi ea
                    ab fugit voluptatem, incidunt consequatur? Facilis recusandae voluptates aspernatur officiis maiores
                    similique laboriosam. Omnis quod odio mollitia vel quo facere quae quidem iusto aliquam, illum quia
                    sequi iure laboriosam laborum repudiandae, nesciunt veritatis accusantium pariatur corrupti
                    obcaecati veniam soluta, tempora qui. Velit enim aspernatur tempora animi quaerat unde ab magni
                    pariatur ut consequuntur, quas explicabo, libero ducimus dolor at? Officia iure quis nam deserunt
                    voluptate beatae, obcaecati a aliquid eius asperiores? Impedit, nobis!</p>
            </div>
        </div>




        <div class="center aligned column" id="right-prof-col">
            <div class="ui container">
                <div class="ui people shape">
                    <div class="sides ">
                        <div class="active side">
                            <div class="ui card">
                                <div class="image">
                                    <img src="https://i.imgur.com/hT7JMzF.jpg">
                                </div>
                                <div class="content left aligned">
                                    <div class="ui ribbon label left aligned" id="name-age">Henry (11)</div>
                                    <div class="meta">
                                        <a>Take me to Cat Products</a>
                                    </div>
                                    <div class="description">
                                        Loves to drool when pet and bite.
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2014
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <div class="ui card">
                                <div class="image">
                                    <img src="https://i.imgur.com/H1nxniL.jpg">
                                </div>
                                <div class="content left aligned">
                                    <a class="ui ribbon label" id="name-age">Clark (2)</a>
                                    <div class="meta">
                                        <a>Take me to Dog Products</a>
                                    </div>
                                    <div class="description">
                                        Loves to bark, has short legs.
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2021
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <div class="ui card">
                                <div class="image">
                                    <img src="https://i.imgur.com/Frxg6Qo.jpg">
                                </div>
                                <div class="content left aligned">
                                    <a class="ui ribbon label" id="name-age">Mogli (12)</a>
                                    <div class="meta">
                                        <a>Take me to Cat Products</a>
                                    </div>
                                    <div class="description">
                                        Anything for extra snacks.
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2013
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui container" id="prof-buttons">
                    <ui class="grid">
                        <div class="row">
                            <div class="colunm">
                                <button class="ui button" id="rollback_left"><i class="angle left icon"></i></button>
                                <button class="ui button" id="rollback_right"><i class="angle right icon"></i></button>
                            </div>
                        </div>
                    </ui>
                </div>
            </div>
        </div>
    </div>
    </div>