:root {
  --light-1: #d8d5ba;
  --light-2: #93a4b8;
  --medium-light-1: #afb881;
  --medium-light-2: #bb8a52;
  --medium-light-3: #ffd966;
  --medium-1: #4b5a6b;
  --medium-2: #87293f;
  --medium-3: #7a492b;
  --dark: #0c3b2e;
  --darkest: #000000;
}

* {
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;
}

#profile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

#prof-buttons {
  margin-top: 25px;
}

.profile-bg {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/pet-photos/pet-accessories/various-items.jpg);
  background-size: contain;
  /* background-position: left; */
  /* background-repeat: no-repeat; */
}

.navbar {
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.5rem;
  border-bottom: 3px solid var(--medium-light-3);
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--light-2);
}

.nav-link:hover {
  color: var(--medium-light-3);
}

.nav-logo {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--medium-light-3);
}

.nav-logo img {
  width: 21rem;
  height: 5rem;
  border: 2px solid var(--medium-light-3);
  border-radius: 15px;
}

#logo-tag {
  text-align: center;
  font-size: 15p;
}

.nav-logo:hover {
  color: var(--light-1);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--light-1);
}

/* #nav-bar {
  background-color: var(--dark);
}

#nav-bar a {
  font-size: 20px;
} */

#sign-up {
  background-color: var(--light-1);
  font-size: 15px;
}

#login {
  background-color: var(--light-1);
  font-size: 15px;
}

#userLogout {
  background-color: var(--light-1);
  font-size: 15px;
}

#log-reg {
  height: 100vh;
  background-image: url(../images/pet-photos/Animals/group-portrait-puppies.jpg);
  background-position: bottom;
  background-size: contain;
}

.footer {
  position: relative;
  bottom: 0;
  /* width: 100%; */
  height: 100px;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: linear-gradient(180deg, var(--dark) 0%, var(--darkest) 95%);
  border-top: 3px solid var(--medium-light-3);
}

#ribbon-1 {
  background-color: var(--light-2);
}

#ribbon-2 {
  background-color: var(--medium-1);
  color: var(--light-1);
}

#name-age {
  font-size: 20px;
  background-color: var(--medium-light-1);
}

#rollback_left {
  background-color: var(--medium-light-1);
}

#rollback_right {
  background-color: var(--medium-light-1);
}

#divider {
  height: 30px;
  background-color: var(--light-2);
}

.socials li {
  display: inline;
}

.product-page {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/pet-photos/pet-accessories/pet-accessories-objects.jpg);
  background-size: contain;
  background-position: left;
}

.products {
  /* background-repeat: no-repeat; */
  padding: 20px;
}

#products {
  margin: 0px;
  display: flex;
  justify-content: center;
}

#prod-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

#prod-cards {
  height: 200px;
  width: 200px;
}

#dimmer {
  background-color: var(--medium-light-3);
}

#modal-price {
  font-size: 25px;
}

#have-pets {
  padding-top: 10px;
  padding-bottom: 10px;
}

#register {
  padding-top: 10px;
  margin-top: 10px;
}

#filter-menu {
  margin-left: 20px;
  margin-top: 20px;
}

.landing {
  background-image: url(https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1490px) {
  .product-page {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7.2rem;
    flex-direction: column;
    background-color: var(--medium-1);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px var(--darkest);
    opacity: 95%;
  }

  .nav-menu.active {
    left: 0;
    z-index: 2;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  #profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
  #right-prof-col {
    order: 0;
  }
  #right-prof-col img {
    /* min-width: 100%; */
  }
  #left-prof-col {
    order: 1;
  }
}
