:root {
  --light-1: #d8d5ba;
  --light-2: #93a4b8;
  --medium-light-1: #afb881;
  --medium-light-2: #bb8a52;
  --medium-1: #4b5a6b;
  --medium-2: #87293f;
  --medium-3: #7a492b;
  --dark: #0c3b2e;
}
